body {
  background-image:url("../images/stars.png");
  width:auto;
  color: white;
  text-align: center;
}

header {
  text-align: center;
  font-weight: bold;
}

#start {
  margin-top: 100px;
}

#timer{
  font-weight: bold;
  margin-top: 20px;
}

#question {
  font-size: 48px;
  margin-top: 30px;
}

.answerButton {
  margin-top: 3px;
  background-color: white;
  color: black;
}

.content {
  text-align: center;
}

#results {
  margin-top: 60px;
}
